body{
    margin:0;
    padding:0;
    background-color:beige;

}
p{
    font-family:'Times New Roman', Times, serif;
    font-size:30px;
    font-weight:488;
    font-style:italic;
    text-align:center;
    text-decoration:underline;
    text-transform:capitalize;
    text-shadow:1px 1px 10px #F05;
    color:red;
    display: inline-block ;
}
    img{
        border: 2px solid #F05;
        border-radius: 50px;
        float: left;
        margin-right: 20px;
        padding: 3px;
    }
    #para{
        color: blueviolet;
    }